DATABASE_URL="postgresql://user:password@host:5432/dbname?sslmode=require"

PUSHER_APP_ID=your_app_id
PUSHER_SECRET=your_secret
PUSHER_CLUSTER=eu

NEXT_PUBLIC_PUSHER_KEY=your_key
NEXT_PUBLIC_PUSHER_CLUSTER=eu
